<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Taskify</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <script type="text/javascript" src="/js/signup.js"></script>
    <script type="text/javascript" src="/js/members.js"></script>
    <script type="text/javascript" src="/js/new-project.js"></script>
    <script type="text/javascript" src="/js/homepage.js"></script>
</head>

<body>
    <header class="navbar-dark bg-dark">
        <nav class="navbar navbar-expand-lg">
            <a href="#"> <img src="../assets/images/b2e5a12d-77af-4e10-82bf-e5fbb0d27b47_200x200.png" height="35" alt="logo" id="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown" id="links">
                <ul class="nav nav-pills navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link topic" href="/signup">Sign Up</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link topic" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    {{{ body }}}

</body>

</html>