
<div class="container">
<form id="task-form" data-project-id = {{project_id}}>
   <div>
        <label for="description">Title</label>
        <input type="text" class="form-control" id="title">
    </div>
    
    <div>
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description">
    </div>
    <div>
        <label for="date">Due Date</label>
        <input type="text" class="form-control" id="date">
    </div>
<br>
<button type="submit" id="tasksubmit-btn" class="btn btn-primary">Submit</button>

<div>
  
</div>
</form>
</div>