<div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Taskify</h1>
    <p>Welcome, your life just got a whole lot easier to manage</p>
    <br>
    <br>
    {{#unless user}}
    <a class="btn btn-primary btn-lg" href="/signup">Register Today</a>
    {{/unless}}
  </div>
</div>
</div>

<section class="product-sample">
    <div class="product-images">
        <img src="../assets/images/emma-matthews-digital-content-production-8K62atzbulQ-unsplash.jpg">
        <img src="../assets/images/chad-madden-7HuBEZaehSE-unsplash.jpg">
    </div>
    <p>Taskify is the only solution you'll ever need for keeping track of your hectic schedule and daily life. Simply create a project and include your tasks and live your day stress-free. As you progress through your tasks you'll be able to move them through stages. You can keep track of your projects and tasks from both your desktop and your mobile device, so you can take Taskify wherever you go. Living just got a whole lot easier!
    </p>
</section>
