<div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Taskify</h1>
    <br>
    <h6>Welcome, your life just got a whole lot easier.</h6>
<br>

    <h6>Manage all of your projects and tasks all in one place, <br> and track the progress you're making every step of the way.</h6>
<br>    
    <h6>Let's do this together - join us and start living stress free.</h6>
<br>
    {{#unless user}}
    <a class="btn btn-primary btn-lg" href="/signup">Register Today</a>
    {{/unless}}
  </div>
</div>
</div>

<section class="product-sample">
    <h1 id="getTo">We're there with you</h1>
    <div class="product-images">
        <img id="img" src="../assets/images/emma-matthews-digital-content-production-8K62atzbulQ-unsplash.jpg">
        <img id="img" src="../assets/images/bruce-mars-FWVMhUa_wbY-unsplash.jpg">
    </div>
    <div id="text-portion">
    <p>Taskify is the only solution you'll ever need for keeping track of your hectic day-to-day schedule and event planning. Simply create a project, jot down your tasks and live your day worry-free. Move your tasks through stages based upon the progress you've made on them.</p>
    <p>You can keep track of your projects and tasks from both your desktop and your mobile device, so you can take Taskify wherever you go. Living just got a whole lot easier!</p>
    </div>
</section>
