<div class="jumbotron">
    <div>
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">Welcome to Task Manager, the one stop shop to manage all the tasks in your life.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Register</a>
    </div>
</div>

<section class="product-sample">
    <div class="product-images">
        <img src="https://via.placeholder.com/500x350">
        <img src="https://via.placeholder.com/500x350">
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id arcu pellentesque, malesuada metus non,
        euismod dui. Proin laoreet auctor erat, vel faucibus massa varius vel. Nunc sit amet ullamcorper lacus. Sed
        ac ullamcorper tortor, a dictum purus. Phasellus porta diam eu efficitur congue. In hac habitasse platea
        dictumst. In eu nulla tincidunt, ullamcorper eros quis, gravida leo. Donec lobortis turpis ac hendrerit
        efficitur. Quisque nulla neque, scelerisque sit amet justo sit amet, viverra fermentum urna.
    </p>
</section>
