{{#each projects}}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
    <a href="/projects/{{id}}" class="btn btn-primary">Launch</a>
  </div>
</div>
{{/each}}

<a href="/projects/new" class="btn btn-primary" >Create new project</a>

