<br>
<div class="container">
<form id="project-form">
    <div>
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" aria-describedby="title" required="required">
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description">
    </div>
    <button type="submit" id="submit-btn" class="btn btn-primary" id="projectDescBtn">Submit</button>
</form>
</div>