.navbar {
    max-width: 80%;
    margin: auto;
    background-color: #50697D ;
    color: #D9CFE7;
}

.navbar-dark {
    background-color: #50697D;
}

.nav-item {
    margin-left: 15px;
}

.jumbotron {
    height: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url(/public/assets/images/emma-matthews-digital-content-production-8K62atzbulQ-unsplash.jpg)
}

.product-sample {
    width: 80%;
    margin: auto;
}

.product-sample p {
    padding: 1em;
    margin-top: 1em;
}

.product-images {
    display: flex;
    justify-content: space-around;
}

.product-images img {
    width: 47%;
}

.btn {
    background-color: #D9CFE7;
    color: #A8BCBA;

    
   
}

body{
    background-color: #50697D;
    color: #A8BCBA;
}