.navbar {
    max-width: 80%;
    margin: auto;
    background-color: #283B42;
    color: #D1DDDB;
}

.nav-link {
    color: #D1DDDB;
}

.nav-item {
    margin-left: 15px;
}

.jumbotron {
    color: #D1DDDB;
    background-image: url(/assets/images/haley-phelps-S-llxYh3GzI-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.product-sample {
    width: 80%;
    margin: auto;
}

.product-sample p {
    padding: 1em;
    margin-top: 1em;
}

.product-images {
    display: flex;
    justify-content: space-around;
}

.product-images img {
    width: 47%;
}

.btn {
    background-color: #1D6A96;
    color: #D1DDDB;
    /* border: #1D6A96; */
    border: solid #85B8CB 2px;
}

body {
    background-color: #1D6A96;
    color: #A8BCBA;
}

.card {
    background-color: #283B42;
    margin-top: 10px;
    border: 2px solid #85B8CB;
    width: 100%;
}

.card-title {
    color: #D1DDDB;
}

header {
    background-color: #283B42;
    border-bottom: 2px solid #85B8CB;
}

p {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

label {
    font-family: 'Montserrat', sans-serif;
}

#img {
    border: 2px solid;
    border-color: #85B8CB;
}

#getTo {
    text-align: center;
}

footer {
    height: 66px;
    border-top: solid #85B8CB 2px;
    background-color: #283B42;
    text-align: center;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
}

.btn:hover {
    background-color: #1D6A96;
    color: #D1DDDB;
    /* border: #1D6A96; */
    border: solid #85B8CB 2px;
}

hr {
    background-color: #85B8CB;
    height: 2px;
}

#projectCard {
    /* margin-top: 3em;
    margin-left: 5em; */
    margin-bottom: 1em;
    margin-right: 3em;
    display: inline-block;
}

#projectBtn {
    margin-left: 70%;
    margin-bottom: 5%;
    background-color: #283B42;
    border: solid 2px #85B8CB;
}

#projectsBtn {
    background-color: #283B42;
    border: solid 2px #85B8CB;
    margin-top: 1em;
}

#submit-btn {
    background-color: #283B42;
    border: solid 2px #85B8CB;
}

#projDash {
    margin-top: 1em;
    margin-right: 2em;
    text-align: center;
}

#dashBtn {
    background-color: #283B42;
    border: solid 2px #85B8CB;
    margin-bottom: 1em;
}

@media screen and (max-width: 1000px) {
    .btn-container {
        text-align: center;
    }
    #projectBtn {
        margin-left: 0;
    }
}